<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.agentpair.mobile" android:versionCode="1" android:versionName="0.1.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-feature android:name="android.hardware.telephony" android:required="false"/>
  <application android:icon="@drawable/ic_launcher" android:label="AppLens 应用透镜" android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
